<h2 class="dialog-title">$i18n.getText('multiplesubtasks.dialog.open')</h2>

#if($action.hasAnyErrors())
    <div class="aui-message aui-message-error">
        <p class="title">$i18n.getText("multiplesubtasks.dialog.error")</p>
        #foreach($error in $action.errorMessages)
            <p>$error</p>
        #end
        #foreach($error in $action.errors)
            <p>$error</p>
        #end
    </div>
#end

<form class="aui top-label" action="MultipleSubTasks.jspa" method="post">
    <input type="hidden" name="issueKey" value="${issueKey}">
    <div class="content-body">
        <div class="field-group">
            <label>$i18n.getText('multiplesubtasks.input.label') <span class="aui-icon icon-required"></span></label>
            <textarea name="tasks" class="textarea long-field" rows="10">${tasksInput}</textarea>
            <div class="description">$i18n.getText('multiplesubtasks.input.desc')</div>
        </div>
    </div>
    <div class="buttons-container content-footer">
        <div class="buttons">
            <input type="hidden" name="action" value="create">
            <input class="aui-button aui-button-primary" type="submit" value="$i18n.getText('multiplesubtasks.dialog.submit')" />
            <a href="#" class="cancel">$i18n.getText('multiplesubtasks.dialog.cancel')</a>
        </div>
    </div>
</form>

#if ($createdSubTasks)
#if (!$createdSubTasks.isEmpty())

    <div class="content-body">
        <p>$i18n.getText('multiplesubtasks.confirmation.text')</p>
        <table width="100%" class="aui" id="issuetable">
            <tbody>
                #set($counter = 1)
                #foreach($subTask in $createdSubTasks)
                <tr>
                    <td class="stsequence">$counter.</td>
                    <td class="stsummary"><a href="$baseurl/browse/$subTask.key">$subTask.summary</a></td>
                    <td class="issuetype"><img src="$subTask.issueType.completeIconUrl"></td>
                    <td class="status"><span class="aui-lozenge aui-lozenge-subtle jira-issue-status-lozenge-$subTask.status.statusCategory.colorName">$subTask.status.nameTranslation</span></td>
                    <td class="assignee">
                        #if($subTask.assignee)
                            <a href="$baseurl/secure/ViewProfile.jspa?name=$subTask.assignee.key">$subTask.assignee.displayName</a>
                        #else
                            <i>$i18n.getText("multiplesubtasks.issue.assignee.empty")</i>
                        #end
                    </td>
                </tr>
                #set($counter = $counter + 1)
                #end
            </tbody>
        </table>
    </div>
    <div class="buttons-container content-footer">
        <div class="buttons">
            <a href="#" class="cancel">$i18n.getText('multiplesubtasks.dialog.close')</a>
        </div>
    </div>

#end
#end
