<h2 class="aui-dialog2-header-main">$i18n.getText('multiplesubtasks.dialog.label')</h2>

#if($action.hasAnyErrors())
    <div class="aui-message aui-message-error">
        <p class="title">$i18n.getText("multiplesubtasks.dialog.error")</p>
        #foreach($error in $action.errorMessages)
            <p>$error</p>
        #end
        #foreach($error in $action.errors)
            <p>$error</p>
        #end
    </div>
#end

#if ($createdSubTasks && !$createdSubTasks.isEmpty())

<form id="subtaskForm" class="aui top-label" action="MultipleSubtasksDialog.jspa" method="post">
    <input type="hidden" name="issueKey" value="${issueKey}">
    <input type="hidden" name="atl_token" value="$atl_token">

    <div class="aui-message aui-message-confirmation">
        <p class="title">$i18n.getText("multiplesubtasks.dialog.success")</p>
    </div>

    <div class="content-body" style="max-height:512px; overflow:auto">
        <table width="100%" class="aui" id="issuetable">
            <tbody>
                #set($counter = 1)
                #foreach($subTask in $createdSubTasks)
                <tr>
                    <td class="stsequence">$counter.</td>
                    <td class="stsummary"><a href="$baseurl/browse/$subTask.key">$subTask.summary</a></td>
                    <td class="issuetype"><img src="$subTask.issueType.completeIconUrl"></td>
                    <td class="status"><span class="aui-lozenge aui-lozenge-subtle jira-issue-status-lozenge-$subTask.status.statusCategory.colorName">$subTask.status.nameTranslation</span></td>
                    <td class="assignee">
                        #if($subTask.assignee)
                            <a href="$baseurl/secure/ViewProfile.jspa?name=$subTask.assignee.name">$subTask.assignee.displayName</a>
                        #else
                            <i>$i18n.getText("multiplesubtasks.dialog.issue.notassigned")</i>
                        #end
                    </td>
                </tr>
                #set($counter = $counter + 1)
                #end
            </tbody>
        </table>
    </div>
  <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <input id="subtaskAction" type="hidden" name="action" value="reset">
            <input class="aui-button" type="submit" value="$i18n.getText('multiplesubtasks.dialog.buttons.reset')" />
            <a href="#" rel="refreshIssue" class="aui-button aui-button-primary">$i18n.getText('multiplesubtasks.dialog.buttons.close')</a>
        </div>
    </footer>
</form>

#else

<form id="subtaskForm" class="aui top-label" action="MultipleSubtasksDialog.jspa" method="post">
    <input type="hidden" name="issueKey" value="${issueKey}">
    <input type="hidden" name="atl_token" value="$atl_token">
    <div class="content-body">
        <div class="field-group">
            <select id="subtaskTemplate" name="subtaskTemplate" class="select long-field">
            <option>$i18n.getText("multiplesubtasks.dialog.templates.instruction")</option>
            <optgroup label="$i18n.getText('multiplesubtasks.dialog.templates.user')">
            #if(!$userTemplates.isEmpty())
                #foreach($template in $userTemplates)
                    <option value="$template.id" data-template="$template.template">$template.name</option>
                #end
            #else
                <option disabled>$i18n.getText("multiplesubtasks.dialog.templates.empty")</option>
            #end
            </optgroup>
            </select>
            <!-- TODO move into js file or join with other js on this page -->
            <script>
              AJS.toInit(function(){
                   $('#subtaskTemplate').change(function() {
                        $('#subtaskInputString').val($('#subtaskTemplate option:selected').data('template'));
                   });
              });
            </script>
        </div>
        <div class="field-group">
            <textarea id="subtaskInputString" name="inputString" class="textarea long-field" rows="12" required="required" placeholder="$i18n.getText('multiplesubtasks.dialog.input.placeholder')">${inputString}</textarea>
        </div>
    </div>
  <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <input id="subtaskAction" type="hidden" name="action" value="create">
            <input class="aui-button aui-button-primary" type="submit" value="$i18n.getText('multiplesubtasks.dialog.buttons.submit')" />
            <a href="#" rel="refreshIssue" class="aui-button aui-button-link">$i18n.getText('multiplesubtasks.dialog.buttons.cancel')</a>
        </div>
        <!-- TODO get URL from constant -->
        <div class="aui-dialog2-footer-hint"><a href="https://jira-multiple-subtasks.codescape.de/syntax" target="blank">$i18n.getText('multiplesubtasks.dialog.documentation')</a></div>
    </footer>
</form>

#end

<!-- TODO move into js file or join with other js on this page -->
<script>
    AJS.toInit(function(){
        $('a[rel="refreshIssue"]').click(function(event) {
               event.preventDefault();
               $('#subtaskAction').val('close');
               $('#subtaskForm').submit();
        });
    });
</script>
