<html>
<head>
    <title>$i18n.getText("multiplesubtasks.title") - $i18n.getText("multiplesubtasks.templates.label")</title>
    <meta name="decorator" content="atl.userprofile"/>
    <meta name="tab" content="foo.bar">
</head>
<body class="multiple-subtasks">

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner">
                    <img alt="$i18n.getText('multiplesubtasks.title')" src="$req.contextPath/download/resources/de.codescape.jira.plugins.multiple-subtasks:multiple-subtasks-resources/images/multiple-subtasks-logo-144.png">
                </span>
            </span>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li>$i18n.getText("multiplesubtasks.title")</li>
            </ol>
            <h1>$i18n.getText("multiplesubtasks.templates.label")</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <!-- TODO <a href="$action.documentationUrl" target="_blank" class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-question-filled"></span> $i18n.getText("multiplesubtasks.templates.documentation")</a> -->
            </div>
        </div>
    </div>
</header>

<p>$i18n.getText("multiplesubtasks.templates.description")</p>

#set($counter = 0)
#if(!$userTemplates.isEmpty())
    #foreach($template in $userTemplates)
        #set($counter = $counter + 1)
    #end
#end

<h2>$i18n.getText("multiplesubtasks.templates.list") ($counter / $maximumTemplatesPerUser)</h2>

#set($counter = 0)
#if(!$userTemplates.isEmpty())
    <form class="aui long-label" action="MultipleSubtasksUserTemplates.jspa" method="post">
    <input type="hidden" name="atl_token" value="$atl_token">
    <input type="hidden" name="action" value="delete">
    <table width="100%" class="aui">
    <thead>
        <tr>
            <th>$i18n.getText("multiplesubtasks.templates.name")</th>
            <th>$i18n.getText("multiplesubtasks.templates.template")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    #foreach($template in $userTemplates)
    #set($counter = $counter + 1)
        <tr>
            <td>$template.name</td>
            <td><pre>$template.template</pre></td>
            <td>
                <button name="templateId" value="$template.id" type="submit" class="aui-button" onfocus="javascript:blur();"><span class="aui-icon aui-icon-small aui-iconfont-trash"></span></button>
            </td>
        </tr>
    #end
    </table>
    </form>
#else
    <p><i>$i18n.getText("multiplesubtasks.templates.list.empty")</i></p>
#end

<h2>$i18n.getText("multiplesubtasks.templates.addnew")</h2>

#if ($counter < $maximumTemplatesPerUser)

<form class="aui long-label" action="MultipleSubtasksUserTemplates.jspa" method="post">
    <input type="hidden" name="atl_token" value="$atl_token">
    <div class="form-body">
        <div class="field-group">
            <label for="templateName">$i18n.getText("multiplesubtasks.templates.name")</label>
            <input id="templateName" name="templateName" type="text" class="text long-field" required="required" />
            <div class="description">$i18n.getText("multiplesubtasks.templates.name.description")</div>
        </div>
        <div class="field-group">
            <label for="template">$i18n.getText("multiplesubtasks.templates.template")</label>
            <textarea id="template" name="template" class="textarea long-field" rows="12" maxlength="$maximumTemplatesSize" required="required" placeholder="$i18n.getText('multiplesubtasks.templates.templates.placeholder')"></textarea>
            <div class="description">$i18n.getText("multiplesubtasks.templates.template.description")</div>
        </div>
    </div>
    <div class="buttons-container form-footer">
        <div class="buttons">
            <button name="action" value="save" type="submit" id="save-button" class="aui-button aui-button-primary">
                <span class="aui-icon aui-icon-small aui-iconfont-check-circle"></span> $i18n.getText("multiplesubtasks.templates.buttons.save")
            </button>
        </div>
    </div>
</form>

#else
 <p><i>$i18n.getText("multiplesubtasks.templates.addnew.maximum")</i></p>
#end

</body>
</html>
